<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="EasyDataSQLSERVER" connectionString="Data Source=CASPER\SQLEXPRESS;Initial Catalog=SerqAccess_EasyDataSampleDB;Integrated Security=True"/>
    <add name="EasyDataOracle" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=M3KervjfiM;USER ID=SYSTEM"/>
    <add name="INGBANK" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = edwtestdb)(PORT = 4300))(CONNECT_DATA =(SERVICE_NAME = edwtest)));User Id =CARTINGSMS; Password=Kgm85ygb;" />
    <add name="localXE" connectionString="DATA SOURCE=localhost:1521/xe;PASSWORD=0f1YSr3vLB;USER ID=SYSTEM"/>
    <add name="local12" connectionString="DATA SOURCE=localhost:1522/orcl;PASSWORD=KdoDt8Vw06;USER ID=SYSTEM"/>
    <add name="emrahXE" connectionString="DATA SOURCE=192.168.1.134:1521/xe;PASSWORD=xEkjedHCxG;USER ID=SYSTEM"/>
    <add name="local12TNSFormat" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1522)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = orcl) ) );User Id=SYSTEM;password=KdoDt8Vw06;"/>
    <add name="emrah12TNSFormat" connectionString="DATA SOURCE=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1522))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = GloDB)));User Id=SYSTEM;password=KdoDt8Vw06;"/>
    <add name="INGBANK2" connectionString="data source=EDWTEST;user id=CARTINGSMS;password=Kgm85ygb;" />
    <add name="localXEOleDB" connectionString="Provider=OraOLEDB.Oracle;Data Source=localhost;User Id=SYSTEM;Password=0f1YSr3vLB;OLEDB.NET=True;"/>
    <add name="local12OleDB" connectionString="Provider=OraOLEDB.Oracle;Data Source=localhost:1522/orcl;User Id=SYSTEM;Password=KdoDt8Vw06;OLEDB.NET=True;"/>
    <add name="Emrah12OleDB" connectionString="Provider=OraOLEDB.Oracle;Data Source=192.168.1.134:1522/GloDB;User Id=SYSTEM;Password=KdoDt8Vw06;OLEDB.NET=True;"/>
    <add name="local12ODBC" connectionString="Driver={Microsoft ODBC for Oracle};CONNECTSTRING=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));Uid=SYSTEM;Pwd=KdoDt8Vw06;"/>
    <add name="local12OracleClient" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=orcl)));uid=SYSTEM;pwd=KdoDt8Vw06;"/>
    <add name="home" connectionString="DATA SOURCE=localhost:1522/orcl;PASSWORD=hacCUeDlFY;USER ID=SYSTEM" />
    <add name="home12TNSFormat" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1522)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = orcl) ) );User Id=SYSTEM;password=hacCUeDlFY;"/>
    <add name="INGBANKOracleClient" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = edwtestdb)(PORT = 4300))(CONNECT_DATA =(SERVICE_NAME = edwtest)));User Id =CARTINGSMS; Password=Kgm85ygb;" />
    <add name="INGBANKODBC" connectionString="Driver={Microsoft ODBC for Oracle};CONNECTSTRING=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=edwtestdb)(PORT=4300))(CONNECT_DATA=(SERVICE_NAME=edwtest)));Uid=CARTINGSMS;Pwd=Kgm85ygb;"/>
    <add name="INGBANKOleDB" connectionString="Provider=OraOLEDB.Oracle;Data Source=edwtestdb:4300/edwtest;User Id=CARTINGSMS;Password=Kgm85ygb;OLEDB.NET=True;"/>
    <add name="MI4BizSQL" connectionString="server=192.168.1.218;uid=sa;pwd=123456a; database=prod-mi4biz-vega-20140813;Pooling=True;max pool size=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>